@charset "UTF-8";


*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0px;
    margin: 0px;
}

body, html{
    width: 100vw;
    height: 100vh;
    background-color: rgb(98, 0, 255)
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    background-color: white;
    width: 350px;
    height: 465px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 10px black;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}


section#login > div#imagem{
    display: block;
    background: black url(../imagens/pexels-guillaume-meurice-2529179.jpg);
    height: 200px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px
}

section#login > div#formulario{
    display: block;
    text-align: center;
}

div#formulario > h1{
    margin-bottom: 20px;
}

div#formulario > p{
    font-size: 0.8em;
    padding-bottom: 10px;
}

form >div.campo{
    background-color: purple;
    margin-bottom: 2px;
    margin-left: 3px;
}

div.campo > span{
    color: white;
}

div.campo > input{
    background-color: rgb(136, 236, 236);
    font-size: 1em;
    height: 100%;
    width: calc(100% - 44px);
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-2px);
}

div.campo > input:focus-within{
    background-color: white;
}

form > input[type=submit]{
    display: block;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(136, 190, 190);
}

form > input[type=submit]:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    padding-top: 5px;
    width: 100%;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}

form > a.botao:hover{
    color: black;
    background-color: rgb(223, 203, 241);
}
